In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Import Data

In [2]:
path = '/home/juanleguizamon/Documentos/pandas_numpy/archive/Online_Retail.csv'
sales_data = pd.read_csv(path, encoding="windows-1252")
print(sales_data.head(5))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [4]:
data = np.array([[1,2,3],[4,5,6],[7,8,9]])
dt_from_array = pd.DataFrame(data, columns=['A','B','C'])
print(dt_from_array)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
data = [[1,'Jhon', 22], [2,'Ana',24]]
df_from_list = pd.DataFrame(data, columns=['ID','Name','Age'])
print(dt_from_array)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
data =[{'ID':1,
        'Name': 'Jhon',
        'Age':22}]
dt_from_dict_list = pd.DataFrame(data)
print(dt_from_dict_list)

   ID  Name  Age
0   1  Jhon   22

In [7]:
data = {'ID':[1,2,3], 'Name': ['Jhon', 'Ana','Peter'], 'Age': [20,25,30]}
dt_from_dict = pd.DataFrame(data)
print(dt_from_dict)

   ID   Name  Age
0   1   Jhon   20
1   2    Ana   25
2   3  Peter   30